<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prelab2"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
	
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    
    
    

	
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
        <activity
            android:name=".Welcom"
            android:label="@string/title_activity_welcom" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.example.prelab2.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:name=".Calander" >
        </activity>
        <activity android:name=".Today" >
        </activity>
        <activity android:name=".Addnew" >
        </activity>
        <activity android:name=".Edit" >
        </activity>
        <activity android:name=".Viewall" >
        </activity>
        <activity android:name=".Pref">            
        </activity>
        <activity android:name=".Brows" >
        </activity>
		<activity android:name=".Alarminfo"
		    android:theme="@android:style/Theme.Dialog">		    
		</activity>

        <service android:name=".MyAlarmService" >
        </service>

        <activity android:name=".MyAlert" >
        </activity>
    </application>

</manifest>